---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Mi porfolio">
	<main>

		<section class=" w-full lg:w-[740px] mx-auto  py-44">
			
			<img class=" rounded-full w-12 h-12 mb-4 "
			src="https://media-bog2-1.cdn.whatsapp.net/v/t61.24694-24/317704241_107578152186390_1728483062117249168_n.jpg?ccb=11-4&oh=01_AdTX2O6Xn15FeCsTVhh5rz0S_ka8g_HxBvnvvoZO4A2SJw&oe=65986895&_nc_sid=e6ed6c&_nc_cat=102" 
			alt="Perfil">

			<h1 class=" text-white text-5xl font-bold flex  flex-row gap-x-4 pb-10">
				Hey, Soy Santiago  <a 
				href="https://www.google.com/" 
				target="_blank" 
				rel="noopener" 
				class=" flex justify-center items-center"
				>

				<Badge>Disponible para trabajar</Badge></a>
			</h1>
			<h2 class=" text-xl opacity-80">
				Sin años de Experiencia, Emprendedor. De Bogotá, Colombia. 
				Me especializo en aprender tecnicas únicas
			</h2>
		</section>
	</main>
</Layout>

